<body class="w3-content">
    <div class="w3-container">
    
    <h1>1. Metaphysics</h1>
    
    <h3>The nature of reality.</h3>
    
    <p>Metaphysics is the part of philosophy that studies the nature of reality.</p>
    
    <p>When we look around, we can see:</p>
    <ul>
    <li>Nature</li>
    <li>Animals</li>
    <li>People</li>
    <li>Houses</li>
    <li>Cars</li>
    <li>and much more</li>
    </ul>
    
    <p>Is this Virtual Reality real?</p>
    
    <p>In Metaphysics, the questions is:</p>
    <ul>
    <li>What is real?</li>
    <li>Is what we see real?</li>
    <li>Is there more than we see?</li>
    <li>Is there more than we sence?</li>
    <li>Is there something else?</li>
    <li>Is there something more?</li>
    <li>Is there another dimension?</li>
    </ul>
    </div>
    
    </body>